@import '/src/sass/colors';

.Login-Page {
    width: 100vw;
    min-height: -webkit-fill-available;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    background-image: url("../../../public/bricks_webp.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;

    .form-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        color: white;
        z-index: 2;
        flex-direction: column;
        align-items: center;

        form {
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 5vw;
        }

        .signup-text {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
            gap: 2vw;
            margin-top: auto;
            font-weight: 700;

            .link {
                display: flex;
                color: $green2;
                cursor: pointer;
                align-items: center;

                .signup-arrow-down {
                    height: 8vw;
                    width: 8vw;
                    margin: 2.5vw 2vw 2vw;
                }
            }
        
            .link:hover {
                text-decoration: underline;
            }
        }
    }
}

.LoginForm-Component {
    flex-direction: column;   
    width: 100vw;
    height: 100%;
    background-color: $purple;
    padding: 5vw 7vw;
    gap: 3vw;
    margin-top: 17vw;
    
    * {
        z-index: 1;
    }
    
    .submit-container {
        align-items: center;
        justify-content: space-between;
        height: 12vw;
        width: 100%;
        margin-top: 2vw;

        label {
            span {
                font-size: 3.5vw;
            }
        }
    }

    h1 {
        font-size: 9vw;
    }

    p {
        font-size: 4vw;
    }

    input {
        font-size: 3.5vw;
        padding: 3vw;
    }

    .forgot-password {
        position: absolute;
        color: $blue2;
        font-size: 3.5vw;
        font-weight: 700;
        top: 115.25vw;
        right: 5.5vw;
        padding: 4.5vw;
    }

}

.SignupForm-Component {
    flex-direction: column;
    width: 100vw;
    height: 100%;
    background-color: $purple;
    padding: 7.5vw 7vw;
    gap: 5vw;

    // .tp-signup-divider {
    //     background-image: url("../../../public/bricks_webp.webp");
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    // }

    // * {
    //     z-index: 1;
    // }

    h1 {
        font-size: 9vw;
    }

    p {
        font-size: 4.5vw;
    }

    input {
        font-size: 4vw;
        padding: 2vw 4vw;
        height: fit-content;
    }
    
    .signup-arrow-up {
        height: 8vw;
        width: 8vw;
        transform: rotate(180deg);
    }

    .form {
        flex-direction: column;
    }

}