@import '/src/sass/colors';

.tutorial-mask {
    flex-direction: column;
    background-color: transparentize(#D9D9D9, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    -webkit-mask-image: radial-gradient(circle 5vw at (89.5vw 6vw), transparent 100%, black 100%);
    mask-image: radial-gradient(circle 5vw at (89.5vw 6vw), transparent 100%, black 100%);
    z-index: 9;
    overflow-y: hidden;

    .focus {
        position: absolute;
        width: 12vw;
        height: 12vw;
        border-radius: 50%;
        top: 0;
        right: 4.5vw;
        z-index: 10;
    }

    .balloon-container {
        position: relative;
        margin-top: 50vw;
        justify-content: center;
        align-items: center;

        .balloon {
            position: absolute;
            // transform: scale(1.25)
        }

        .balloon-text {
            position: absolute;
            top: -18vw;
            width: 60%;
            height: 90%;
            text-align: center;
            z-index: 1;
            font-size: 3.5vw;
        }
    }

    .avatar {
        position: absolute;
        width: 50vw;
        right: 3vw;
        top: 70vw;
        z-index: 1;
    }

    .avatar-bg {
        position: absolute;
        height: -webkit-fill-available;
        width: 100vw;
        top: 50vw;
    }
}