@import '/src/sass/colors';

.Scanner-Component {
    width: 100%;
    height:  calc(var(--vh, 1vh) * 100);
    flex-direction: column;
    align-items: center;
    position: absolute;
    
    .scanner-placeholder {
        margin-top: 10vh;
        // position: absolute;
        z-index: 1;
        width: 86vw;
        height: 86vw;
        // border: 5px red solid;
        border-radius: 5vw;
        box-shadow: 0 0 0 100vh rgba($color: #000000, $alpha: 0.5);
    }

}