@import '/src/sass/colors';

.Scanner-Component {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    position: absolute;
    
    .scanner-placeholder {
        margin-top: 10vh;
        // position: absolute;
        z-index: 5;
        width: 90vw;
        height: 90vw;
        // border: 5px red solid;
        border-radius: 5vw;
        box-shadow: 0 0 50vh rgba($color: #000000, $alpha: 1);
    }

}