@import '/src/sass/colors';

.Cart-Page {
    width: 100vw;
    min-height: -webkit-fill-available;
    flex-direction: column;
    background-image: url("../../../public/bricks_webp.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    gap: 3vw;
    padding: 2vw 4vw;

    .title-container {
        background-color: $purple;
        border-radius: 15vw;
        padding: 2vw;
        align-items: center;
        justify-content: space-between;
        color: white;
        z-index: 2;

        button {
            padding: 0;
        }

        h2 {
            font-size: 3vw;
            font-weight: 500;
        }
    }

    .product-list {
        flex-direction: row;
        overflow-y: auto;
        // overflow-x: hidden;
        max-height: 85vh;
        width: 93vw;
        gap: 2vw;
        padding: 8vw 1.5vw 22vw 0;
        flex-wrap: wrap;
        justify-content: space-between;
        position: absolute;
        top: 7vw;
        
        .Product-Component {
            width: 48%;
            height: 25vw;
            border-radius: 4vw;
            padding: 3vw;
            background-color: white;
            align-items: center;
            box-shadow: 2px 8px 0px $blue;
            gap: 2vw;
            border: 1px solid $dark-grey;

            .MuiBadge-badge {
                top: 2vw;
                right: 2vw;
                width: 4vw;
                height: 4vw;
                border-radius: 100%;
            }

            .text-container {
                flex-direction: column;
                font-weight: bold;
                gap: 2vw;
                width: 100%;
                font-size: 2vw;

                .product-name {
                    font-size: 1.9vw;
                    display: flex;
                    height: 8vw;
                    width: 20vw;
                    overflow: auto;
                }

                .quantity-input {
                    width: 5vw;
                    border-radius: 1vw;
                    border: none;
                    font-size: 2vw;
                    padding: 1vw 0.5vw;
                    outline-color: $light_grey;
                    outline: 1px solid $dark_grey;
                }

                .quantity-input:focus {
                    outline-color: $blue;
                }

                span {
                    font-weight: normal;
                }
            }
        }
    }
}

.FinishContainer-Component {
    margin-top: auto;
    width: 100%;
    flex-direction: column;
    box-shadow: 2px 8px 0px $blue;
    border-radius: 4vw;
    background-color: white;
    padding: 3vw;
    color: $dark_grey;
    gap: 1vw;
    border: 1px solid $dark-grey;
    z-index: 2;

    p {
        font-size: 3vw;
    }
    
    .total-container {
        justify-content: space-between;
        align-items: center;
        margin-top: 1vw;
        
        h3 {
            font-size: 3.5vw;
        }

        span {
            font-size: 3.5vw;
        }
    }
}