@import '/src/sass/colors';

.Profile-Page {
    width: 100vw;
    background-image: url("../../../public/bricks_webp.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2vw;
    justify-content: center;

    .main-container {
        background-color: $purple;
        width: 95%;
        height: 100%;
        border-radius: 5vw;
        padding: 5vw 2vw;
        flex-direction: column;
        color: white;
        
        .content-container {
            overflow-y: auto;
            width: 100%;

            form {
                padding-bottom: 2vw;
            }
        }
    }

    .Header-Component {
        color: white;
        justify-content: space-between;
        align-items: center;
        margin-top: -4.5vw;

        .info-container {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }

    .Account-Component {
        width: 100%;
        flex-direction: column;

        form {
            flex-direction: column;
            gap: 4vw;

            input {
                color: #555555;
                font-weight: 600;
            }

            .account-details-upper-container {
                flex-direction: column;
                gap: 2vw;
            }

            .pwd-alter-title {
                flex-direction: column;
            }

            .qrcode-container {
                gap: 5vw;
                justify-content: space-between;

                .text {
                    flex-direction: column;
                    gap: 1vw;
                }
            }

            .avatar-security-container {
                position: relative;
                margin-top: auto;
    
                img {
                    width: 100%;
                }
    
                .avatar-security-text {
                    position: absolute;
                    color: black;
                    font-size: 2vw;
                    top: 4.5vw;
                    left: 10vw;
                    width: 36vw;
                }
            }
        }
    }

    .Address-Component {
        width: 100%;

        form {
            flex-direction: column;
            gap: 5vw;

            .two-inputs {
                gap: 3vw;

                .small-input {
                    flex: 0.4;
                    text-align: center;
                }
            }
        }
    }

    .Financial-Component {
        flex-direction: column;
        width: 100%;

        form {
            flex-direction: column;
            gap: 5vw;

            .type-container {
                gap: 20vw;
                margin-bottom: 5vw;
            }

            .expiration-container {
                gap: 2vw;
            }
        }
    }
}