@import '/src/sass/colors';

.Profile-Page {
    width: 100vw;
    background-image: url("../../../public/bricks.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 7vw;

    .main-container {
        background-color: $purple;
        width: 100%;
        height: 100%;
        border-radius: 10vw;
        padding: 5vw;
        flex-direction: column;
        overflow-y: auto;
        color: white;
    }

    .Header-Component {
        color: white;
        justify-content: space-between;
        align-items: center;
        margin-top: -4vw;

        .info-container {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }

    .Account-Component {
        width: 100%;
        flex-direction: column;

        form {
            flex-direction: column;
            gap: 5vw;

            input {
                color: #555555;
                font-weight: 600;
            }

            .pwd-alter-title {
                flex-direction: column;
            }
        }
    }

    .Address-Component {
        width: 100%;

        form {
            flex-direction: column;
            gap: 5vw;

            .two-inputs {
                gap: 3vw;

                .small-input {
                    flex: 0.4;
                    text-align: center;
                }
            }
        }
    }

    .Financial-Component {
        flex-direction: column;
        width: 100%;

        form {
            flex-direction: column;
            gap: 5vw;

            .type-container {
                gap: 20vw;
            }
        }
    }
}