@import '/src/sass/colors';

.Dashboard-Component {
    width: 100vw;
    height: 100vh;
    color: $purple;
    flex-direction: column;
    align-items: center;
    padding: 5vw;
    gap: 3vw;

    .product-list {
        flex-direction: column;
        width: 50vw;
        outline: 2px solid $purple;
        gap: 1vw;
    }

    
    .Product-Component {
        align-items: center;
        justify-content: space-between;
        padding: 1vw;

        .info-container {
            gap: 1vw;
            align-items: center;
        }
    }
}