@import '/src/sass/colors';

.Chart-Page {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-image: url("../../../public/bricks.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    gap: 5vw;
    padding: 5vw 7vw;

    .title-container {
        background-color: $purple;
        border-radius: 15vw;
        padding: 3vw 5vw;
        align-items: center;
        justify-content: space-between;
        color: white;
    }

    .product-list {
        flex-direction: column;
        overflow-y: auto;
        width: 100%;
        gap: 5vw;
        
        .Product-Component {
            width: 100%;
            border-radius: 7vw;
            padding: 5vw 7vw;
            background-color: white;
            align-items: center;

            .text-container {
                flex-direction: column;
                font-weight: bold;

                span {
                    font-weight: normal;
                }
            }
        }
    }
}