@import '/src/sass/colors';

.Chart-Page {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-image: url("../../../public/bricks.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 5vw 7vw;

    .title-container {
        background-color: $purple;
        border-radius: 15vw;
        padding: 3vw 5vw;
        align-items: center;
        justify-content: space-between;
        color: white;
    }
}