@import '/src/sass/colors';

.Card-Component {
    width: 100%;
    background-color: #3B176A;
    box-shadow: 2px 8px 0px #1A7FB7;
    border-radius: 7vw;
    flex-direction: column;
    padding: 5vw;
    gap: 1vw;

    .cardnumber-container {
        justify-content: space-between;
    }
    
    .name-expiration {
        margin-top: 2vw;
        justify-content: space-between;
    }

    .cvv-container {
        justify-content: space-between;
    }
}