@import '/src/sass/colors';

.Product-Page {
    position: relative;
    width: 100%;
    height: min-content;
    flex-direction: column;
    background-color: white;
    padding: 6vw;
    color: $dark_grey;
    transition: ease-in-out 0.5s;
    overflow: hidden;
    border-top-right-radius: 5vw;
    border-top-left-radius: 5vw;
    
    .main-container {
        overflow-y: auto;
        // height: 100%;
        width: 100%;
        gap: 3vw;
        flex-direction: column;

        .carousel-container{
            width: 100%;
            flex-direction: column;
            margin-top: 6vw;
        
            .carousel {
                border-radius: 3vw;
            }
            .image {
                border-radius: 5vw;
                height: 33vh;
                width: auto;
                object-fit: contain;
            }
        }
    
        .title-container {
            flex-direction: column;
            width: 100%;
            justify-content: space-between;

            h1 {
                font-size: 6vw;
            }

            span {
                font-size: 6vw;
            }
        }

        .product-description-container {
            max-height: 33vw;
            overflow-y: scroll;
            
            p {
                font-size: 3vw;
            }
        }
    
        .specs-container {
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom: 1vw;

            h3 {
                font-size: 3vw;
            }
        }
    
    }
    .cart-container {
        padding-top: 3vw;
        justify-content: space-between;
        align-items: center;

        button {
            padding: 0;
            font-size: 3vw;
        }

        input {
            font-size: 3.5vw;
        }
    }

}