@import '/src/sass/colors';

.Product-Page {
    position: relative;
    width: 100%;
    min-height: -webkit-fill-available;
    flex-direction: column;
    background-color: white;
    padding: 6vw;
    color: $dark_grey;
    transition: ease-in-out 0.5s;
    gap: 3vw;
    overflow-x: hidden;
    border-radius: 5vw;
    
    .image {
        border-radius: 5vw;
        width: 100%;
        height: 35%;
        object-fit: fill;
    }

    .title-container {
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .specs-container {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .cart-container {
        justify-content: space-between;
        align-items: center;
    }

}