@import '/src/sass/colors';

.Product-Page {
    position: relative;
    width: 100%;
    min-height: -webkit-fill-available;
    flex-direction: column;

    .image {
        z-index: -1;
        position: absolute;
        width: 100vw;
        height: 50%;
        object-fit: fill;
    }

    .main-container {
        flex-direction: column;
        margin-top: auto;
        // min-height: 55%;
        background-color: white;
        border-top-right-radius: 10vw;
        border-top-left-radius: 10vw;
        padding: 3vw 6vw;
        color: $dark_grey;
        transition: ease-in-out 0.5s;
        gap: 3vw;

        .title-container {
            width: 100%;
            align-items: center;
        }

        .specs-container {
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}