@import '/src/sass/colors';

.SplashScreen-Page {
    width: 100vw;
    height: -webkit-fill-available;
    position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

        p {
            position: absolute;
            color: white;
            font-size: 2.75vw;
            top: 37vh;
            left: 5vw;
        }
}