@import '/src/sass/colors';

.Camera-Page {
    position: relative;
    width: 100%;
    flex-direction: column;
    height:  calc(var(--vh, 1vh) * 100);
    // overflow: hidden;

    .button-wrapper {
        flex-direction: column;
        justify-content: flex-end;
        height: -webkit-fill-available;;
        padding: 7vw;
        
        .button-container {
            z-index: 1;
            background-color: white;
            flex-direction: column;
            border: 1px solid $dark-grey;
            box-shadow: 2px 8px 0px $blue;
            border-radius: 10vw;
            padding: 5vw;
            gap: 3vw;
            align-items: center;

            .cancel-button {
                justify-content: center;
                align-items: center;
                gap: 2vw;
                font-size: 5vw;
            }
        }
    }
}