@import '/src/sass/colors';

.Checkout-Page {
    width: 100%;
    flex-direction: column;
    background-image: url("../../../public/bricks_webp.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 2vw;
    gap: 3vw;
    color: #555555;

    .cancel-container {
        justify-content: space-between;
        background-color: $purple;
        border-radius: 15vw;
        padding: 2vw 5vw;
        align-items: center;
        color: white;
        font-size: 3vw;
    }

    .main-container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        background-color: white;
        box-shadow: 2px 8px 0px #1A7FB7;
        border-radius: 3vw;
        border: 1px solid #555555;
        padding: 3vw;

        button {
            z-index: 1;
        }
    }

    .Review-Component {
        flex-direction: column;
        gap: 5vw;
        width: 100%;
        
        .review-component-upper-container {
            flex-direction: column;
            gap: 2vw;
            height: 100%;
            width: 100%;
            
            .product-list {
                flex-direction: column;
                gap: 2vw;
                height: 120vw;
                overflow-y: auto;
    
                .product-container {
                    gap: 2vw;
        
                    .image {
                        width: 20%;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                    }
        
                    .info-container {
                        flex-direction: column;
                        justify-content: space-between;
                        width: 100%;
        
                        .price-container {
                            justify-content: space-between;
                        }
        
                        p {
                            font-weight: bold;
                            font-size: 3vw;
        
                            span {
                                font-weight: normal;
                            }
                        }
        
                    }
                }
            }
        }

        .totals-container {
            flex-direction: column;
            align-items: flex-end;
            gap: 2vw;
            border-top: 1px solid #555555;
            padding-top: 2vw;
            margin-top: auto;

            p {
                font-weight: bold;
                font-size: 3vw;

                span {
                    font-weight: normal;
                }
            }

            .buttons-container {
                width: 100%;
                gap: 3vw;
            }
        }
    }

    .Address-Component {
        overflow-y: auto;
        width: 100%;
        height: 100%;
        flex-direction: column;

        form {
            flex-direction: column;
            gap: 5vw;
            height: 100%;
            position: relative;

            input {
                border: 1px solid $blue2;
            }

            .two-inputs {
                gap: 3vw;

                .small-input {
                    flex: 0.2;
                    text-align: center;
                }
            }

            .avatar-security-container {
                position: relative;
                margin-top: auto;
    
                img {
                    width: 100%;
                }
    
                .avatar-security-text {
                    position: absolute;
                    color: black;
                    font-size: 2vw;
                    top: 7vw;
                    left: 15vw;
                    width: 33vw;
                }
            }

            button {
                font-size: 3vw;
                margin-bottom: 1vw;
                padding: 1vw;
            }
        }
    }
    
    .Payment-Component {
        overflow-y: auto;
        width: 100%;
        height: 100%;
        flex-direction: column;
        gap: 1vw;
        
        .avatar-security-container {
            position: relative;
            margin-top: auto;
            margin-bottom: 2vw;

            img {
                width: 100%;
            }

            .avatar-security-text {
                position: absolute;
                color: black;
                font-size: 2vw;
                top: 7vw;
                left: 15vw;
                width: 33vw;
            }
        }

        .choose-container {
            margin-top: 1vw;
            flex-direction: column;
            gap: 3vw;

            div {
                width: 100%;
            }

            .opened {
                .is-open {
                    pointer-events: none;
                }
            }

            .container {
                color: #53337D;
                align-items: center;
                padding: 1vw 2vw;
                border: 1px solid #555555;;
                border-radius: 15vw;
                box-shadow: 2px 8px 0px #9AF82E;
                gap: 3vw;

                font-size: 3vw;

            }

            .creditcard-children {
                flex-direction: column;
                margin-top: 2vw;
                border-radius: 3vw;
                padding: 2vw;

                .CardForm-Component {
                    flex-direction: column;
                    gap: 2vw;
                    overflow-y: auto;
                    min-height: 25vh;

                    .type-container {
                        margin-bottom: 1vw;
                        
                        div {
                            gap: 25vw;
                        }
                    }
        
                    .expiration-container {
                        gap: 2vw;
                    }
                }
            }

            .pix-children {
                margin-top: 2vw;
                font-weight: bold;

                span {
                    color: #6E40AA;
                }
            }
        }
    }

    .Pix-Component {
        width: 100%;
        flex-direction: column;
        gap: 2vw;
        padding-bottom: 5vw;

        h4 {
            font-size: 3vw;
        }

        p {
            font-size: 2.5vw;
            font-weight: 600;
        }

        .code-wrapper {
            width: 100%;
            justify-content: center;
            margin-top: 10vw;
        }

        .totals-container {
            flex-direction: column;
            align-items: center;
        }
    }

    .Finish-Component {
        width: 100%;
        flex-direction: column;
        gap: 3vw;
        color: $blue;
        align-items: center;
        justify-content: center;
        text-align: center;

        h1 {
            font-size: 8vw;
        }

        p {
            font-size: 3.5vw;
        }
    }
}