@import '/src/sass/colors';

.Review-Page {
    width: 100vw;
    min-height: -webkit-fill-available;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    background-image: url("../../../public/bricks_webp.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    padding: 7vw;

    .title-container {
        background-color: $purple;
        border-radius: 15vw;
        padding: 1vw 6vw;
        align-items: center;
        justify-content: center;
        color: white;
        height: 16vw;
        width: 86vw;

        h2 {
            color: white;
            text-align: center;
            font-size: 6vw;
            font-weight: 500;
        }
    }

    .buttons-container {
        justify-content: space-between;
        margin-top: auto;
        width: 100%;
    }
}